{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "svelteSortOrder": "scripts-markup-styles-options",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true
}
